footer {
    background-color: rgb(5, 12, 41);
    color: #fff;
    padding: 1.4rem;
    color: #5f81ad;
    text-align: center;
}

ul.socialIcons {
    padding: 0;
    text-align: center;
}

.socialIcons li {
    list-style: none;
    display: inline-block;
    margin: .4rem;
    border-radius: 3rem;
    overflow: hidden;
    background-color: rgb(5, 12, 41);
    box-shadow: 0 0 12px #5f81ad;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.socialIcons li a {
    display: block;
    padding: 0.5rem;
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    white-space: nowrap;
    transition: 0.8s;
    text-decoration: none;
    font-family: arial;
    color: #5f81ad;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.socialIcons li i {
    margin-right: 0.5em;
}

.socialIcons li:hover a {
    padding-top: .3em;
}

footer p {
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}